<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title><ion-icon name="people-circle-outline"></ion-icon> Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-list>
          <ion-item *ngFor="let contato of _contatos">
            <ion-col size="7">
              <ion-label>
                <ion-icon name="person-outline" slot="start"></ion-icon>
                {{contato.nome}}
              </ion-label>
              <ion-label>{{contato.telefone}} <ion-icon name="chatbox-ellipses-outline" slot="end"></ion-icon></ion-label>
            </ion-col>
            <ion-col size="2">
              <ion-button color="secondary">Editar</ion-button>
            </ion-col>
          </ion-item>
          <br>
          <ion-fab vertical="right" horizontal="end" slot="fixed">
            <ion-fab-button (click)="pageCadastro()">
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <br>
          <br>
          <br>
      </ion-list>
    </ion-card-header>
  </ion-card>
</ion-content>
